@import "tailwindcss";

:root {
  /* --- Base Palette --- */
  --color-background: #fffdfc;
  --color-surface: #f1f1f1;

  /* --- Text Colors --- */
  --color-text-primary: #1c1c1c;
  --color-text-secondary: #8a8a8a;
  --color-text-on-accent: --color-white;

  /* --- UI Elements --- */
  --color-ui-strong: #1c1c1c;
  --color-ui-subtle: #e0e0e0;

  /* --- Project Card Colors --- */
  --color-project-yellow: #f5eeda;
  --color-project-blue: #e1f1f2;

  /* --- Event/Schedule Colors --- */
  --color-event-green: #e1efe6;
  --color-event-purple: #e5e2f7;

  /* --- Borders & Dividers --- */
  --color-border: --color-gray-200;

  /* --- Accents & Interactive Colors --- */
  --color-accent-purple-bg: #e9e7f7;
  --color-accent-purple-sf: #b3a9e6;
  --color-accent-orange: #ff7f50;

  margin: 0;
  padding: 0;
}

@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-on-accent: var(--color-text-on-accent);

  --color-border: var(--color-border);

  --color-accent-purple-bg: var(--color-accent-purple-bg);
  --color-accent-purple-sf: var(--color-accent-purple-sf);
  --color-accent-orange: var(--color-accent-orange);

  --color-ui-strong: #1c1c1c;
  --color-ui-subtle: #e0e0e0;

  --animate-slideDownAndFade: slideDownAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFade: slideLeftAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideUpAndFade: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFade: slideRightAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* --- Dark Theme --- */
/*@media (prefers-color-scheme: dark) {
  :root {

    --color-background: #111015;
    --color-surface: #1d1c23;


    --color-text-primary: theme(colors.gray.50);
    --color-text-secondary: theme(colors.gray.400);
    --color-text-on-accent: theme(colors.gray.900);


    --color-border: theme(colors.gray.700);


    --color-accent-purple-bg: #3b315b;
    --color-accent-purple-bar: #a899e6;
    --color-accent-orange: #ff7f50;
}*/

* {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    "Inter",
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.kanban-nav-link > span {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.kanban-nav-link:hover > span {
  cursor: pointer;
  text-decoration: underline;
}
